workflows/cross-platform-id-sync/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        -384
      ],
      "id": "f6cf36f4-9379-4a32-9654-5868d54be890",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        -384
      ],
      "id": "d81819c3-c495-4d6d-abfe-59326d9f7f48",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://evenstar.huducloud.com/api/v1/assets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "company_id",
              "value": "={{ $json.hudu_id }}"
            },
            {
              "name": "asset_layout_id",
              "value": "26"
            },
            {
              "name": "page_size",
              "value": "250"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        -144
      ],
      "id": "c35cd494-e403-43dd-8c60-d1187cf51499",
      "name": "Hudu: GET Integration Identifier Asset",
      "credentials": {
        "httpHeaderAuth": {
          "id": "o5FyDdc2nqruRrkR",
          "name": "Hudu API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the assets array from Hudu API response\nconst assets = $input.item.json.assets || [];\n\n// Check if Integration Identifier asset exists\nconst assetExists = assets.length > 0;\nconst existingAsset = assetExists ? assets[0] : null;\n\n// Preserve ALL platform IDs from Transform node\nconst companyName = $input.item.json.company_name;\nconst huduId = $input.item.json.hudu_id;\nconst superopsId = $input.item.json.superops_id;\nconst ninjaoneId = $input.item.json.ninjaone_id;\nconst huntressId = $input.item.json.huntress_id;\nconst dnsfilterId = $input.item.json.dnsfilter_id;\n\nreturn {\n  json: {\n    company_name: companyName,\n    hudu_id: huduId,\n    superops_id: superopsId,\n    ninjaone_id: ninjaoneId,\n    huntress_id: huntressId,\n    dnsfilter_id: dnsfilterId,\n    integration_asset_exists: assetExists,\n    integration_asset: existingAsset,\n    integration_asset_id: existingAsset ? existingAsset.id : null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -256
      ],
      "id": "99582fd4-28fd-463e-bc8e-6d350d52a2f0",
      "name": "Check Asset Exists"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://evenstar.huducloud.com/api/v1/companies/{{ $json.hudu_id }}/assets/{{ $json.integration_asset_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"asset\": {\n    \"custom_fields\": [\n      {\"SuperOps Client ID\": \"{{ $json.superops_id }}\"},\n      {\"NinjaOne Org ID\": \"{{ $json.ninjaone_id }}\"},\n      {\"Huntress Org ID\": \"{{ $json.huntress_id }}\"},\n      {\"DNS Filter Org ID\": \"{{ $json.dnsfilter_id }}\"}\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -208
      ],
      "id": "23ef5e13-cd89-4df5-b266-89a3f7988fa6",
      "name": "Hudu: Update Existing Integration Identifier",
      "credentials": {
        "httpHeaderAuth": {
          "id": "o5FyDdc2nqruRrkR",
          "name": "Hudu API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evenstar.huducloud.com/api/v1/companies/{{ $json.hudu_id }}/assets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"asset\": {\n    \"name\": \"Integration Identifiers\",\n    \"asset_layout_id\": 26,\n    \"custom_fields\": [\n      {\"SuperOps Client ID\": \"{{ $json.superops_id }}\"},\n      {\"NinjaOne Org ID\": \"{{ $json.ninjaone_id }}\"},\n      {\"Huntress Org ID\": \"{{ $json.huntress_id }}\"},\n      {\"DNS Filter Org ID\": \"{{ $json.dnsfilter_id }}\"}\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -16
      ],
      "id": "2614ad67-92d7-42eb-8992-1e3d5de0fea9",
      "name": "Hudu: Create New Integration Asset",
      "credentials": {
        "httpHeaderAuth": {
          "id": "o5FyDdc2nqruRrkR",
          "name": "Hudu API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Play It Again, Sam",
      "typeVersion": 1,
      "position": [
        1072,
        0
      ],
      "id": "0829d833-75e2-49a5-bac0-180e196877a9"
    },
    {
      "parameters": {
        "jsCode": "// Extract the clients array from GraphQL response\nconst clients = $input.all()[0].json.data.getClientList.clients;\n\n// Transform to standard format with platform identifier\nreturn clients.map(client => ({\n  json: {\n    platform: 'SuperOps',\n    id: client.accountId,\n    name: client.name\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -384
      ],
      "id": "643d1fc2-71ba-4c8a-a143-190e2884251c",
      "name": "Extract SuperOps Clients"
    },
    {
      "parameters": {
        "jsCode": "// Extract companies array from Hudu response\nconst companies = $input.all()[0].json.companies;\n\n// Transform to standard format\nreturn companies.map(company => ({\n  json: {\n    platform: 'Hudu',\n    id: company.id,\n    name: company.name\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -592
      ],
      "id": "c0684963-d678-419a-bd50-d382472a1f2d",
      "name": "Extract Hudu Companies"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw input items\nconst items = $input.all();\n\n// Map through each item (NinjaOne returns multiple items, one per org)\nreturn items.map(item => ({\n  json: {\n    platform: 'NinjaOne',\n    id: item.json.id,\n    name: item.json.name\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        32
      ],
      "id": "f86103f1-d96c-4c75-b43d-d44dece6e1e8",
      "name": "Extract NinjaOne Orgs"
    },
    {
      "parameters": {
        "jsCode": "// Huntress wraps in an organizations array\nconst orgs = $input.all()[0].json.organizations;\n\n// Transform to standard format\nreturn orgs.map(org => ({\n  json: {\n    platform: 'Huntress',\n    id: org.id,\n    name: org.name\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -176
      ],
      "id": "ef05edf6-c9dd-4b38-9017-b3f6b621712f",
      "name": "Extract Huntress Orgs"
    },
    {
      "parameters": {
        "jsCode": "// DNS Filter wraps in a data array\nconst orgs = $input.all()[0].json.data;\n\n// Transform to standard format\nreturn orgs.map(org => ({\n  json: {\n    platform: 'DNS Filter',\n    id: org.id,\n    name: org.attributes.name\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -800
      ],
      "id": "f77144f3-2524-4b2f-97fa-3f65f1a42f18",
      "name": "Extract DNS Filter Orgs"
    },
    {
      "parameters": {
        "jsCode": "// Get all items\nconst items = $input.all();\n\n// Simple string similarity function (Levenshtein-based)\nfunction similarity(s1, s2) {\n  const longer = s1.length > s2.length ? s1 : s2;\n  const shorter = s1.length > s2.length ? s2 : s1;\n  \n  if (longer.length === 0) return 1.0;\n  \n  const editDistance = levenshteinDistance(longer, shorter);\n  return (longer.length - editDistance) / longer.length;\n}\n\nfunction levenshteinDistance(s1, s2) {\n  const costs = [];\n  for (let i = 0; i <= s1.length; i++) {\n    let lastValue = i;\n    for (let j = 0; j <= s2.length; j++) {\n      if (i === 0) {\n        costs[j] = j;\n      } else if (j > 0) {\n        let newValue = costs[j - 1];\n        if (s1.charAt(i - 1) !== s2.charAt(j - 1)) {\n          newValue = Math.min(Math.min(newValue, lastValue), costs[j]) + 1;\n        }\n        costs[j - 1] = lastValue;\n        lastValue = newValue;\n      }\n    }\n    if (i > 0) costs[s2.length] = lastValue;\n  }\n  return costs[s2.length];\n}\n\n// Normalize names for better matching\nfunction normalizeName(name) {\n  return name\n    .toLowerCase()\n    .replace(/[^\\w\\s]/g, '') // Remove punctuation\n    .replace(/\\s+/g, ' ')    // Normalize whitespace\n    .trim();\n}\n\n// Group by similar names\nconst groups = {};\nconst threshold = 0.85; // 85% similarity required\n\nitems.forEach(item => {\n  const normalizedName = normalizeName(item.json.name);\n  let matched = false;\n  \n  // Try to match with existing groups\n  for (const groupKey in groups) {\n    const groupNormalizedName = normalizeName(groupKey);\n    const score = similarity(normalizedName, groupNormalizedName);\n    \n    if (score >= threshold) {\n      // Add to existing group\n      groups[groupKey].items.push(item.json);\n      matched = true;\n      break;\n    }\n  }\n  \n  // If no match, create new group\n  if (!matched) {\n    groups[item.json.name] = {\n      canonicalName: item.json.name,\n      items: [item.json]\n    };\n  }\n});\n\n// Transform groups into output format\nconst results = Object.values(groups).map(group => {\n  const platformData = {};\n  \n  group.items.forEach(item => {\n    platformData[item.platform] = item.id;\n  });\n  \n  return {\n    json: {\n      name: group.canonicalName,\n      platforms: Object.keys(platformData),\n      platformCount: Object.keys(platformData).length,\n      ...platformData\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -384
      ],
      "id": "90375ff9-f0b1-4921-b42c-9a6ac8cc6130",
      "name": "Fuzzy Match Organizations"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Sort by platform count (most platforms first)\nconst sorted = items.sort((a, b) => b.json.platformCount - a.json.platformCount);\n\n// Build HTML table\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 20px; }\n    table { border-collapse: collapse; width: 100%; }\n    th, td { border: 1px solid #ddd; padding: 12px; text-align: left; }\n    th { background-color: #4CAF50; color: white; }\n    tr:nth-child(even) { background-color: #f2f2f2; }\n    .full-match { background-color: #d4edda; }\n    .partial-match { background-color: #fff3cd; }\n    .single-platform { background-color: #f8d7da; }\n  </style>\n</head>\n<body>\n  <h1>Platform Organization Comparison</h1>\n  <p>Total unique organizations: ${items.length}</p>\n  <table>\n    <thead>\n      <tr>\n        <th>Company Name</th>\n        <th>Platforms</th>\n        <th>Count</th>\n        <th>SuperOps ID</th>\n        <th>Hudu ID</th>\n        <th>NinjaOne ID</th>\n        <th>Huntress ID</th>\n        <th>DNS Filter ID</th>\n      </tr>\n    </thead>\n    <tbody>\n`;\n\nsorted.forEach(item => {\n  const rowClass = \n    item.json.platformCount === 5 ? 'full-match' :\n    item.json.platformCount > 1 ? 'partial-match' :\n    'single-platform';\n  \n  html += `\n      <tr class=\"${rowClass}\">\n        <td>${item.json.name}</td>\n        <td>${item.json.platforms.join(', ')}</td>\n        <td>${item.json.platformCount}</td>\n        <td>${item.json.SuperOps || '-'}</td>\n        <td>${item.json.Hudu || '-'}</td>\n        <td>${item.json.NinjaOne || '-'}</td>\n        <td>${item.json.Huntress || '-'}</td>\n        <td>${item.json['DNS Filter'] || '-'}</td>\n      </tr>\n  `;\n});\n\nhtml += `\n    </tbody>\n  </table>\n</body>\n</html>\n`;\n\nreturn [{\n  json: { html },\n  binary: {\n    data: {\n      data: Buffer.from(html).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'platform-comparison.html'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -576
      ],
      "id": "7e8ca51e-a649-4927-a9db-a6efe14bd178",
      "name": "Format as HTML Table"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Sort by platform count (most platforms first)\nconst sorted = items.sort((a, b) => b.json.platformCount - a.json.platformCount);\n\n// CSV header\nlet csv = 'Company Name,Platforms,Platform Count,SuperOps ID,Hudu ID,NinjaOne ID,Huntress ID,DNS Filter ID\\n';\n\n// CSV rows\nsorted.forEach(item => {\n  const row = [\n    `\"${item.json.name}\"`,\n    `\"${item.json.platforms.join(', ')}\"`,\n    item.json.platformCount,\n    item.json.SuperOps || '',\n    item.json.Hudu || '',\n    item.json.NinjaOne || '',\n    item.json.Huntress || '',\n    item.json['DNS Filter'] || ''\n  ];\n  \n  csv += row.join(',') + '\\n';\n});\n\nreturn [{\n  json: { \n    csv,\n    rowCount: items.length \n  },\n  binary: {\n    data: {\n      data: Buffer.from(csv).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'platform-comparison.csv'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -768
      ],
      "id": "e28e45bb-ef71-42ea-8654-f0811b3316fc",
      "name": "Format as CSV"
    },
    {
      "parameters": {
        "jsCode": "// Transform comparison results for ID Mapping\n// Hudu is canonical source - process ALL Hudu companies\nconst companies = $input.all();\n\nreturn companies\n  .filter(company => company.json.Hudu) // Only companies that exist in Hudu\n  .map(company => {\n    return {\n      json: {\n        company_name: company.json.name,\n        hudu_id: company.json.Hudu,\n        superops_id: company.json.SuperOps || null,\n        ninjaone_id: company.json.NinjaOne || null,\n        huntress_id: company.json.Huntress || null,\n        dnsfilter_id: company.json[\"DNS Filter\"] || null\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -384
      ],
      "id": "18235844-858c-4d5d-8f48-f56bc1ecc2f0",
      "name": "Transform for ID Mapping"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f40e28a1-d1e0-4cf1-a55f-f5ef9b1dcb6e",
              "leftValue": "={{ $json.superops_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -400
      ],
      "id": "0a22c654-110f-4139-8632-1c188a8bb6b1",
      "name": "Has SuperOps ID?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superops.ai/msp",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation { updateClient(input: { accountId: \\\"{{ $json.superops_id }}\\\", customFields: { udf3text: \\\"{{ $json.hudu_id }}\\\", udf4text: \\\"{{ $json.ninjaone_id }}\\\", udf5text: \\\"{{ $json.huntress_id }}\\\", udf6text: \\\"{{ $json.dnsfilter_id }}\\\" } }) { accountId } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -400
      ],
      "id": "c20d48df-5928-4dda-beb9-b1fca571f7c6",
      "name": "SuperOps: Update Custom Fields",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "RYdTfhQ1HuM69KDA",
          "name": "SuperOps MSP API Credentials"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -752,
        -432
      ],
      "id": "4bfa3520-a41a-4c2f-b87d-1cfa065d3a1a",
      "name": "Merge Outputs to Single Dataset"
    },
    {
      "parameters": {
        "url": "https://api.dnsfilter.com/v1/organizations/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        -800
      ],
      "id": "2d093ce8-ee85-424d-ab99-7ed8d333c856",
      "name": "DNS Filter: Get Organizations",
      "credentials": {
        "httpBasicAuth": {
          "id": "5TmbpXZrc0jlE6GZ",
          "name": "Huntress API (Account-wide)"
        },
        "httpHeaderAuth": {
          "id": "16ppgwd8trUxPrz7",
          "name": "DNS Filter API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://evenstar.huducloud.com/api/v1/companies?page_size=300",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        -592
      ],
      "id": "cdd584fd-5ca9-4c24-919b-6dff78e8a229",
      "name": "Hudu: Get Companies1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "o5FyDdc2nqruRrkR",
          "name": "Hudu API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superops.ai/msp",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n     \"query\": \"{ getClientList(input: {}) { clients { accountId name } } }\"\n   }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        -384
      ],
      "id": "99a912ed-77cb-41b6-8666-7f6df0a3a91f",
      "name": "SuperOps: Get Clients",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "RYdTfhQ1HuM69KDA",
          "name": "SuperOps MSP API Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.huntress.io/v1/organizations?limit=500",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        -176
      ],
      "id": "d2753000-828e-4b10-96c5-157a9b0c6756",
      "name": "Huntress: Get Organizations",
      "credentials": {
        "httpBasicAuth": {
          "id": "5TmbpXZrc0jlE6GZ",
          "name": "Huntress API (Account-wide)"
        }
      }
    },
    {
      "parameters": {
        "url": "https://app.ninjarmm.com/v2/organizations",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        32
      ],
      "id": "e02a2dcf-06a1-44ee-ba50-b1d696ea57e3",
      "name": "NinjaOne: Get Organizations",
      "credentials": {
        "oAuth2Api": {
          "id": "RAjf5poWxZ466lE5",
          "name": "NinjaOne API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        -256
      ],
      "id": "4bcaf7f0-11ac-4d06-8d4f-c703bcad57bc",
      "name": "Merge Data"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        -144
      ],
      "id": "6dacb6e6-0e4d-4068-964b-88546a2abbfc",
      "name": "Merge Data for Loop",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "10339a85-1e9b-45d5-b662-371d8ab977f5",
              "leftValue": "={{ $json.integration_asset_exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -112
      ],
      "id": "804de58e-0ae0-45eb-9226-faca786d3d4a",
      "name": "Does Asset Exist?"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "DNS Filter: Get Organizations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hudu: Get Companies1",
            "type": "main",
            "index": 0
          },
          {
            "node": "SuperOps: Get Clients",
            "type": "main",
            "index": 0
          },
          {
            "node": "Huntress: Get Organizations",
            "type": "main",
            "index": 0
          },
          {
            "node": "NinjaOne: Get Organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Hudu: GET Integration Identifier Asset",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hudu: GET Integration Identifier Asset": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check Asset Exists": {
      "main": [
        [
          {
            "node": "Does Asset Exist?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has SuperOps ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hudu: Update Existing Integration Identifier": {
      "main": [
        [
          {
            "node": "Merge Data for Loop",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hudu: Create New Integration Asset": {
      "main": [
        [
          {
            "node": "Merge Data for Loop",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Play It Again, Sam": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SuperOps Clients": {
      "main": [
        [
          {
            "node": "Merge Outputs to Single Dataset",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract Hudu Companies": {
      "main": [
        [
          {
            "node": "Merge Outputs to Single Dataset",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract NinjaOne Orgs": {
      "main": [
        [
          {
            "node": "Merge Outputs to Single Dataset",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Extract Huntress Orgs": {
      "main": [
        [
          {
            "node": "Merge Outputs to Single Dataset",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Extract DNS Filter Orgs": {
      "main": [
        [
          {
            "node": "Merge Outputs to Single Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fuzzy Match Organizations": {
      "main": [
        [
          {
            "node": "Transform for ID Mapping",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format as CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format as HTML Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform for ID Mapping": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has SuperOps ID?": {
      "main": [
        [
          {
            "node": "SuperOps: Update Custom Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SuperOps: Update Custom Fields": {
      "main": [
        [
          {
            "node": "Merge Data for Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Outputs to Single Dataset": {
      "main": [
        [
          {
            "node": "Fuzzy Match Organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DNS Filter: Get Organizations": {
      "main": [
        [
          {
            "node": "Extract DNS Filter Orgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hudu: Get Companies1": {
      "main": [
        [
          {
            "node": "Extract Hudu Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SuperOps: Get Clients": {
      "main": [
        [
          {
            "node": "Extract SuperOps Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Huntress: Get Organizations": {
      "main": [
        [
          {
            "node": "Extract Huntress Orgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NinjaOne: Get Organizations": {
      "main": [
        [
          {
            "node": "Extract NinjaOne Orgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Check Asset Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data for Loop": {
      "main": [
        [
          {
            "node": "Play It Again, Sam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does Asset Exist?": {
      "main": [
        [
          {
            "node": "Hudu: Update Existing Integration Identifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hudu: Create New Integration Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2e10e36-d65c-492c-853c-778725083e16",
  "meta": {
    "instanceId": "42cdc0c0b4e9986d3979d17198216165cc53f620822eb06d9e7ebb8e38f0a37f"
  },
  "id": "33qPoO7UN9DVqLIs",
  "tags": []
}
